.cardVagas {
    display: flex;
    width: 850px;
}

.esquerda {
    width: 50%;
    max-width: 548px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textTitulo{
    font-size: 30px;
}

.textVagas {
    text-align: justify;
    width: 80%;
    max-width: 424px;
    padding-bottom: 2rem;
    font-size: 25px;
}

.btnGerar {
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
    font-size: 15px;
    color: rgba(0, 92, 165, 1);
}

.direita {
    width: 50%;
    max-width: 548px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.imgVagas {
    padding: 10px;
    width: 70%;
    max-width: 500px;
}
  
@media (max-width: 768px) {
    .cardVagas {
        width: 100%;
        padding: 1rem;
        flex-direction: column; 
    }

    .esquerda, .direita {
        width: 100%; 
    }

    .textVagas {
        padding-bottom: 1rem;
    }
}