.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25rem;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#link {
    color: rgba(0, 92, 165, 1);
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.Botoes {
    display: flex;
    gap: 20px;
}

.btn.active {
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    text-underline-offset: 2px; 
    color: rgba(0, 92, 165, 1);
}

.icon{
    display: none;
}

@media (max-width: 768px) {
    .Navbar {
        padding-bottom: 0.625rem;
    }

    .btn {
        display: none;
    }

    .icon {
        display: flex;
    }

    .Botoes.responsive {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: brown;
        padding-top: 50px;
    }

    .Botoes.responsive .btn {
        display: flex;
        background-color: aqua;
    }

    .Botoes.responsive .icon{
        
    }
  }