.CartaDeMotivacao {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
}

input {
    width: 100%;
    font-size: 18px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease-in-out;
}

textarea {
    width: 100%;
    height: 300px; 
    font-size: 18px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease-in-out;
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.btnVoltar {
    border: 0.5px solid rgba(0, 92, 165, 1);
    font-weight: bolder;
    border-radius: 5px;
    color: rgba(0, 92, 165, 1);
    padding: 15px 35px;
}

.btnDownload {
    border-radius: 5px;
    background-color: rgba(0, 92, 165, 1);
    color: white;
    padding: 15px 35px;
}