.sobreNos {
    padding: 3.125rem;
    background: linear-gradient(#052D77, #1045A8);
    border-radius: 30px;
    color: white;
    width: 90%;
    max-width: 1096px;
}

.cardSobreNos {
    display: flex;
}

.esquerdaSobreNos {
    font-weight: 10px;
    width: 100%;
}

.texto {
    width: 100%;

}

.direitaSobreNos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSobreNos {
    width: 70%;
}